html{
  font-size: 2vmin;
}
.articleContainer{
  display: flex;
}
.articleColumn{
  position: relative;
}
.articleColumn:nth-child(2){
  margin-top: 100px;
}
.articleColumn:nth-child(2)::before{
  content: 'news articles!';
  position: absolute;
  top: -100px;
  background-color: lightblue;
  text-align: center;
  height: 100px;
  width: 100%;
  font-size: 2em;
  line-height: 100px;
}